body {
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  background: rgb(20,116,124);
  background: linear-gradient(90deg, rgba(20,116,124,1) 0%, rgba(207,207,240,1) 57%, rgba(233,164,164,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}